footer
  .wrapper
    .footer__wrapper
      .upper__footer
        .resume
          ul.list
            li.item
              .logo
                img(
                  src=require("../img/svg/toxin_logo.svg"),
                  alt="Логотип TOXIN"
                )
          ul
            li.item__resume
              p
                | Бронирование номеров в лучшем
                br
                |
                | отеле 2019 года по версии
                br
                |
                | ассоциации «Отельные взгляды»
        .nav
          ul
            li
              span.title НАВИГАЦИЯ
          ul
            li
              a.header__link(href="#!") О нас
          ul
            li
              a.header__link(href="#!") Новости
          ul
            li
              a.header__link(href="#!") Служба поддержки
          ul
            li
              a.header__link(href="#!") Услуги
        .about
          ul
            li
              span.title О НАС
          ul
            li
              a.header__link(href="#!") О сервисе
          ul
            li
              a.header__link(href="#!") Наша команда
          ul
            li
              a.header__link(href="#!") Вакансии
          ul
            li
              a.header__link(href="#!") Инвесторы
        .helpdesk
          ul
            li
              span.title СЛУЖБА ПОДДЕРЖКИ
          ul
            li
              a.header__link(href="#!") Соглашения
          ul
            li
              a.header__link(href="#!") Сообщества
          ul
            li
              a.header__link(href="#!") Связь с нами

        .subscription
          ul
            li
              span.title ПОДПИСКА
          ul
            li.item__sub
              p
                | Получайте специальные
                br
                | предложения и новости сервиса
          ul
            li
              .subscribe__form
                p.adds Email
                img.arrowForwardLila(src=require("../img/svg/arrow_forwardLila.svg"), alt="")
  .line
  .wrapper
    .down__footer
      .copyright
        p Copyright © 2018 Toxin отель. Все права защищены.
      .twit
        img(src=require("../img/svg/twit.svg"), alt="Twitter")
      .fb
        img(src=require("../img/svg/fb.svg"), alt="Facebook")
      .inst
        img(src=require("../img/svg/inst.svg"), alt="Instagram")
